<launch>

  <!-- load homogeneous calculation -->
  <node name="homogeneous_matrix_server" pkg="scara_command" type="get_homogeneous.py"/>
  
  <!-- load connector -->
  <node name="kin_connector" pkg="scara_command" type="scara_connector.py"/>
  <!-- load position kinematics -->
  <node name="for_kin" pkg="scara_command" type="scara_FK_server.py"/>
  <node name="inv_kin" pkg="scara_command" type="scara_IK_server.py"/>

  <!-- load velocity kinematics -->
  <!-- node name="kin_connector" pkg="scara_command" type="scara_VK_server.py"/ -->

  <!-- Load controller -->
  <!-- node name="kin_connector" pkg="scara_command" type="joints_pos_controller.py"/>
  <node name="kin_connector" pkg="scara_command" type="joints_vel_controller.py"/>
  <node name="kin_connector" pkg="scara_command" type="switch_control.py"/-->
  
</launch>